<div id="app">
    <div class="logo"></div>
    <div class="search-list">
        <div>
            <div class="search-item bold">
                <div class="search-item-name">标题</div>
                <div>收录时间</div>
            </div>
            <div class="search-item" v-for="(k,i) in list">
                <div class="search-item-name">
                    <a :href="'http://'+k.host" target="_blank" rel="noopener" v-html="(i+1)+' ' +k.title"></a>
                </div>
                <div>{{formatTime(k.create_time)}}</div>
            </div>
        </div>
    </div>
</div>